.login{
    background-image: url("https://picsum.photos/1600/900");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
   
}


 .login .container{
    background-color: white;
    
    width: 650px;
    height: 750px;
    margin: 50px auto;
    margin-top: 60px;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    border-radius: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .login .container .imgdiv{
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 60%;
    margin: 40px auto;
    background-color: #046582;
  }
  .login .text-login{
    color: #046582;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size:30px;
  }
  .container .imgdiv img{
    margin:35px auto
  }
  .login .container .formbox{
    width: 400px;
    height: 70px;
    border: 1px solid blue;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .login .container .button1{
    background-color: #046582;
    font-weight: 700; 
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;

  }
  .login .container .button2{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700; 
  }
  .login .container button{
    width: 400px;
    margin: 10px;
    height: 50px;
  }