.container-new-blog{
    width: 500px;
    height: 450px;
    margin: 50px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.new-blog-img-div{
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 60%;
    margin: 40px auto;
    background-color: #046582;
}
.new-blog-img-div img{
    margin:15px auto
}
.new-blog-text h1{
    color: #046582;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: xx-large;
}
.new-blog-form-box{
    width: 300px;
    height: 50px;
    border: 1px solid blue;
    margin: 10px;
}
.new-blog-text-box{
    width: 300px;
    height: 150px;
    border: 1px solid blue;
    margin: 10px;
}
.new-blog-button{
    background-color:#046582 ;
    width: 300px;
    color: white;
}